/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Arial', sans-serif;
    height: 100%;
    background-color: #f4f4f4;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Navbar */
.navbar {
    width: 80%;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 20px;
    z-index: 1000;
    margin: auto;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgb(165 165 165 / 37%);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo img {
    width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.contact-btn {
    padding: 15px 20px;
    color: #333;
    background-color: #fff;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

/* Hero Section */
.hero {
    position: relative;
    background-image: url('../img/bg.jpg'); /* Placeholder for your background image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.hero-content {
    z-index: 1;
    padding: 0 150px;
    margin-top: 14rem;
}

.hero h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}

/* Info Boxes */
.info-boxes {
    position: absolute;
    gap: 30px;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: #0000004d;
    padding: 20px;
    bottom: 0;
}

.info-box {
    padding: 10px;
    color: white;
    border-radius: 10px;
    text-align: left;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 20px;
}

.info-box i {
    font-size: 50px;
}

.info-box p {
    font-size: 16px;
}

.info-box h3 {
    font-size: 22px;
    font-weight: 600;
}

.divider {
    width: 2px;
    background: #fff;
    height: 75px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.services-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.services-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.service-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.service-item:nth-child(even) {
    flex-direction: row-reverse;
}

.service-text {
    flex: 4;
    margin-right: 20px;
    text-align: left;
}

.service-item:nth-child(even) .service-text {
    margin-left: 20px;
    margin-right: 0;
}

.service-image {
    flex: 1;
}

.service-image img {
    width: 100%;
    border-radius: 10px;
}

.services-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.services-section a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

.services-section a:hover {
    color: #007BFF;
}

.elevate-section {
    background-color: #fff;
    text-align: center;
    padding: 50px 20px;
    /* width: 80%; */
    margin: auto;
    max-width: 1200px;
    margin: 0 auto;
}

.elevate-header {
    display: flex;
    align-items: center;
    background: url(../img/img6.png);
    background-color: #000000db;
    color: #fff;
}

.elevate-header h2 {
    flex: 3;
    padding: 0 50px;
}

.e-head-img{
    flex: 1;
}

.e-head-img img {
    width: 100%;
}

.elevate-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.elevate-section p {
    font-size: 18px;
    margin-bottom: 40px;
    /* color: #555; */
}

.steps-container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap:0 50px;
}

.step-item {
    /* width: 30%; */
    margin-bottom: 20px;
    padding: 20px;
    color: #000;
}

.step-item h3 {
    font-size: 36px;
    /* margin-bottom: 10px; */
}

.step-item p {
    margin-top: 15px;
    font-size: 15px;
}

.img-boxes {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
    border-radius: 20px;
    color: #ffffff;
    padding: 20px;
}

.action-buttons {
    margin-top: 30px;
}

.action-buttons a {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    margin-right: 10px;
    border-radius: 5px;
}

.action-buttons a.secondary-btn {
    background-color: transparent;
    color: #333;
    border: 2px solid #333;
}

.makeover-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
    margin-bottom: 40px;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

.makeover-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.swiper-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gallery-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.action-buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.secondary-btn {
    background-color: #999;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
}

.about-content {
    width: 60%;
}

.about-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-actions a {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.about-image {
    width: 35%;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

/* Testimonial Section */
.testimonials-section {
    padding: 2rem;
    color: #fff;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    background: url(../img/img21.png);
    background-color: #333;
  }
  
  .testimonials-section h2 {
    color: #fff;
  }
  
  .swiper-container2 {
    width: 100%;
    padding: 2rem 0;
  }
  
  .swiper-container2 .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }
  
  .swiper-container2 .swiper-slide img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  .blockquote {
    font-size: 1rem;
    color: #ccc;
    text-align: left;
    line-height: 2;
  }
  
  .rating {
    font-size: 1.5rem;
    color: gold;
  }

  .flex-text {
    text-align: center;
    line-height: 2;
    font-size: larger;
  }

  .flex-textimonials {
    display: flex;
    align-items: center;
    gap: 20px;
}
  
.faq-description {
    text-align: center;
    color: gray;
    margin-bottom: 2rem;
  }
  
  /* FAQ Section */
  .faq-section {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #e0e0e0;
  }

  .faq-section h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
  }
  
  .faq-item {
    margin-bottom: 1rem;
  }
  
  .faq-question {
    background-color: white;
    border: 1px solid #e0e0e0;
    width: 100%;
    text-align: left;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
  }
  
  .faq-question::after {
    content: '+';
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  
  .faq-question.active::after {
    content: '-';
  }
  
  .faq-answer {
    display: none;
    padding: 1rem;
    border-top: 1px solid #e0e0e0;
    /* background-color: #f9f9f9; */
    letter-spacing: 1px;
    padding-top: 30px;
  }
  
  /* Footer Section */
  .footer {
    padding: 2rem 0;
    background: url(../img/img22.png);
    background-color: #333;
    color: #fff;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contact-form {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    background: #fff;
    width: fit-content;
    margin: auto;
    padding: 10px 10px;
    border-radius: 35px;
    margin-top: 20px;
  }
  
  .contact-form input {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    margin-right: 10px;
  }

  input:focus-visible {
    outline: none;
  }
  
  .btn-submit {
    padding: 0.5rem 1rem;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 37px;
  }
  
  .footer-social-icons {
    margin: 1rem 0;
  }
  
  .footer-social-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  .footer-nav {
    margin: 1rem 0;
  }
  
  .footer-nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .footer-nav a:hover, .footer-social-icons a:hover {
    text-decoration: underline;
  }
  
  footer p {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #aaa;
  }